/*! pti.css v0.0.1 | MIT License | */
:root {
  --color-primary: #6190E8;
  --color-lightGrey: #ECECEC;
  --color-grey: #C9C9C9;
  --color-darkGrey:  #A9A9A9;
  --color-error: #FF4949;
  --color-success: #13CE66;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.5rem;
  --font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.pti-font {
  letter-spacing: 0.01em;
  line-height: 1;
  font-size: var(--font-size);
  font-weight: 200;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif; /*fallback*/
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
/* FLEX */
.pti-container {
    max-width: var(--grid-maxWidth);
    margin: 0 auto;
    width: 96%;
    padding: 0 calc(var(--grid-gutter) / 2);
}
.pti-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-gutter) / -2);
}
.pti-row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.pti-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.pti-col,
[class*=" pti-col-"],
[class^='pti-col-'] {
    margin: 0 calc(var(--grid-gutter) / 2) calc(var(--grid-gutter) / 2);
}
.pti-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
    max-width: calc((100% / (12/1)) - var(--grid-gutter));
}
.pti-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
    max-width: calc((100% / (12/2)) - var(--grid-gutter));
}
.pti-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
    max-width: calc((100% / (12/3)) - var(--grid-gutter));
}
.pti-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
    max-width: calc((100% / (12/4)) - var(--grid-gutter));
}
.pti-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
    max-width: calc((100% / (12/5)) - var(--grid-gutter));
}
.pti-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
    max-width: calc((100% / (12/6)) - var(--grid-gutter));
}
.pti-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
    max-width: calc((100% / (12/7)) - var(--grid-gutter));
}
.pti-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
    max-width: calc((100% / (12/8)) - var(--grid-gutter));
}
.pti-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
    max-width: calc((100% / (12/9)) - var(--grid-gutter));
}
.pti-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
    max-width: calc((100% / (12/10)) - var(--grid-gutter));
}
.pti-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
    max-width: calc((100% / (12/11)) - var(--grid-gutter));
}
.pti-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
            flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
    max-width: calc((100% / (12/12)) - var(--grid-gutter));
}
@media screen and (max-width: 599px) {
    .pti-container {
        width: 100%;
    }

    .pti-col,
    [class*="pti-col-"],
    [class^='pti-col-'] {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 100%;
                flex: 0 1 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 900px) {
    .pti-col-1-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
        max-width: calc((100% / (12/1)) - var(--grid-gutter));
    }

    .pti-col-2-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
        max-width: calc((100% / (12/2)) - var(--grid-gutter));
    }

    .pti-col-3-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
        max-width: calc((100% / (12/3)) - var(--grid-gutter));
    }

    .pti-col-4-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
        max-width: calc((100% / (12/4)) - var(--grid-gutter));
    }

    .pti-col-5-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
        max-width: calc((100% / (12/5)) - var(--grid-gutter));
    }

    .pti-col-6-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
        max-width: calc((100% / (12/6)) - var(--grid-gutter));
    }

    .pti-col-7-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
        max-width: calc((100% / (12/7)) - var(--grid-gutter));
    }

    .pti-col-8-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
        max-width: calc((100% / (12/8)) - var(--grid-gutter));
    }

    .pti-col-9-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
        max-width: calc((100% / (12/9)) - var(--grid-gutter));
    }

    .pti-col-10-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
        max-width: calc((100% / (12/10)) - var(--grid-gutter));
    }

    .pti-col-11-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
        max-width: calc((100% / (12/11)) - var(--grid-gutter));
    }

    .pti-col-12-md {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
        max-width: calc((100% / (12/12)) - var(--grid-gutter));
    }
}
@media screen and (min-width: 1200px) {
    .pti-col-1-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
        max-width: calc((100% / (12/1)) - var(--grid-gutter));
    }

    .pti-col-2-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
        max-width: calc((100% / (12/2)) - var(--grid-gutter));
    }

    .pti-col-3-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
        max-width: calc((100% / (12/3)) - var(--grid-gutter));
    }

    .pti-col-4-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
        max-width: calc((100% / (12/4)) - var(--grid-gutter));
    }

    .pti-col-5-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
        max-width: calc((100% / (12/5)) - var(--grid-gutter));
    }

    .pti-col-6-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
        max-width: calc((100% / (12/6)) - var(--grid-gutter));
    }

    .pti-col-7-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
        max-width: calc((100% / (12/7)) - var(--grid-gutter));
    }

    .pti-col-8-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
        max-width: calc((100% / (12/8)) - var(--grid-gutter));
    }

    .pti-col-9-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
        max-width: calc((100% / (12/9)) - var(--grid-gutter));
    }

    .pti-col-10-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
        max-width: calc((100% / (12/10)) - var(--grid-gutter));
    }

    .pti-col-11-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
        max-width: calc((100% / (12/11)) - var(--grid-gutter));
    }

    .pti-col-12-lg {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
                flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
        max-width: calc((100% / (12/12)) - var(--grid-gutter));
    }
}
.pti-fieldset {
  padding: 0.5rem 2rem;
}
.pti-legend {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}
.pti-input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
.pti-select,
.pti-textarea,
.pti-textarea[type="text"] {
  font-family: inherit;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  border: 1px solid var(--color-lightGrey);
  font-size: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}
.pti-input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):not(:disabled):hover,
.pti-select:hover,
.pti-textarea:hover,
.pti-textarea[type="text"]:hover {
  border-color: var(--color-grey);
}
.pti-input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):focus,
.pti-select:focus,
.pti-textarea:focus,
.pti-textarea[type="text"]:focus {
  outline: none;
  border-color: var(--color-primary);
  -webkit-box-shadow: 0 0 1px var(--color-primary);
          box-shadow: 0 0 1px var(--color-primary);
}
.pti-input.error:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
.pti-textarea.error {
  border-color: var(--color-error);
}
.pti-input.success:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]),
.pti-textarea.success {
  border-color: var(--color-success);
}
.pti-select {
  -webkit-appearance: none;
  background: #f3f3f6 no-repeat 100%;
  background-size: 1ex;
  background-origin: content-box;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}
[type="checkbox"],
[type="radio"] {
  width: 1.6rem;
  height: 1.6rem;
}
/* BUTTONS */
.pti-button,
[type="button"],
[type="reset"],
[type="submit"],
button {
  padding: 0.5rem 1.5rem;
  color: var(--color-darkGrey);
  background: var(--color-lightGrey);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: inline-block;
  cursor: pointer;
}
.pti-grouped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pti-grouped > input:not(:last-child),
.pti-grouped > select:not(:last-child),
.pti-grouped > .button:not(:last-child) {
  margin-right: 16px;
}
.pti-button + .pti-button {
  margin-left: 1rem;
}
.pti-buttons > .pti-button + .pti-button {
  margin-left: 0;
}
.pti-button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:hover {
  opacity: 0.8;
}
.pti-button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active,
pti-button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.pti-input:disabled,
.pti-button:disabled,
.pti-input:disabled:hover,
.pti-button:disabled:hover {
  opacity: 0.4;
  cursor: not-allowed;
}
.pti-button.primary,
.pti-button.secondary,
.pti-button.dark,
.pti-button.error,
.pti-button.success,
[type="submit"] {
  color: #fff;
  background-color: #000;
  background-color: var(--color-primary);
}
.pti-button.secondary {
  background-color: var(--color-grey);
}
.pti-button.dark {
  background-color: var(--color-darkGrey);
}
.pti-button.error {
  background-color: var(--color-error);
}
.pti-button.success {
  background-color: var(--color-success);
}
.pti-button.outline {
  background-color: transparent;
  border-color: var(--color-lightGrey);
}
.pti-button.outline.primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.pti-button.outline.secondary {
  border-color: var(--color-grey);
  color: var(--color-grey);
}
.pti-button.outline.dark {
  border-color: var(--color-darkGrey);
  color: var(--color-darkGrey);
}
.pti-button.clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary);
}
.pti-button.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pti-button.icon > img {
  margin-left: 2px;
}
.pti-button.icon-only {
  padding: 1rem;
}
::-webkit-input-placeholder {
  color: #bdbfc4;
}
::-moz-placeholder {
  color: #bdbfc4;
}
:-ms-input-placeholder {
  color: #bdbfc4;
}
::-ms-input-placeholder {
  color: #bdbfc4;
}
::placeholder {
  color: #bdbfc4;
}
.pti-rtl-text {
  direction: rtl;
}
/* CARD */
.pti-card {
    padding: 1rem 2rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.pti-card p:last-child {
  margin: 0;
}
.pti-card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}
.pti-pagination {
  display: inline-block;
}
.pti-pagination input {
  width: 20px;
  height: 20px;
}
.pti-pagination a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--color-grey);
}
.pti-pagination a.active {
  background-color: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
}
.pti-pagination a:hover:not(.active) {
  background-color: var(--color-lightGrey);
}
/* Colors */
.pti-bg-primary {
    background-color: var(--color-primary) !important;
}
.pti-bg-light {
    background-color: var(--color-lightGrey) !important;
}
.pti-bg-dark {
    background-color: var(--color-darkGrey) !important;
}
.pti-bg-grey {
    background-color: var(--color-grey) !important;
}
.pti-bg-error {
    background-color: var(--color-error) !important;
}
.pti-bg-success {
    background-color: var(--color-success) !important;
}
.pti-bd-primary {
    border: 1px solid var(--color-primary) !important;
}
.pti-bd-light {
    border: 1px solid var(--color-lightGrey) !important;
}
.pti-bd-dark {
    border: 1px solid var(--color-darkGrey) !important;
}
.pti-bd-grey {
    border: 1px solid var(--color-grey) !important;
}
.pti-bd-error {
    border: 1px solid var(--color-error) !important;
}
.pti-bd-success {
    border: 1px solid var(--color-success) !important;
}
.pti-text-primary {
    color: var(--color-primary) !important;
}
.pti-text-light {
    color: var(--color-lightGrey) !important;
}
.pti-text-dark {
    color: var(--color-darkGrey) !important;
}
.pti-text-grey {
    color: var(--color-grey) !important;
}
.pti-text-error {
    color: var(--color-error) !important;
}
.pti-text-success {
    color: var(--color-success) !important;
}
.pti-text-white {
    color: #fff !important;
}
/* Position & alignment */
.pti-pull-right {
    float: right !important;
}
.pti-pull-left {
    float: left !important;
}
.pti-is-text-center {
    text-align: center;
}
.pti-is-text-left {
    text-align: left;
}
.pti-is-text-right {
    text-align: right;
}
.pti-is-text-uppercase {
    text-transform: uppercase;
}
.pti-is-text-lowercase {
    text-transform: lowercase;
}
.pti-is-text-capitalize {
    text-transform: capitalize;
}
.pti-is-full-screen {
    width: 100%;
    min-height: 100vh;
}
.pti-is-full-width {
    width: 100% !important;
}
.pti-is-vertical-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.pti-is-horizontal-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.pti-is-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.pti-is-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.pti-is-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.pti-is-fixed {
    position: fixed;
    width: 100%;
}
.pti-m-t-1 {
  margin-bottom: 5px;
}
.pti-m-t-2 {
  margin-bottom: 10px;
}
.pti-m-t-3 {
  margin-bottom: 15px;
}
.pti-m-b-1 {
  margin-bottom: 5px;
}
.pti-m-b-2 {
  margin-bottom: 10px;
}
.pti-m-b-3 {
  margin-bottom: 15px;
}
.pti-m-r-1 {
  margin-bottom: 5px;
}
.pti-m-r-2 {
  margin-bottom: 10px;
}
.pti-m-r-3 {
  margin-bottom: 15px;
}
.pti-m-l-1 {
  margin-bottom: 5px;
}
.pti-m-l-2 {
  margin-bottom: 10px;
}
.pti-m-l-3 {
  margin-bottom: 15px;
}
.pti-is-paddingless {
    padding: 0 !important;
}
.pti-is-marginless {
    margin: 0 !important;
}
.pti-clearfix {
    content: "";
    display: table;
    clear: both;
}
.pti-is-hidden {
    display: none !important;
}
@media screen and (max-width: 599px) {
    .pti-hide-xs {
        display: none !important;
    }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    .pti-hide-sm {
        display: none !important;
    }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
    .pti-hide-md {
        display: none !important;
    }
}
@media screen and (min-width: 1200px) {
    .pti-hide-lg {
        display: none !important;
    }
}
